body {
    font-family: Bitter, 'Zilla Slab', 'Source Serif Pro', Helvetica, sans-serif !important;
    font-size: 1.1em !important;
    line-height: 2 !important;
}

p {
    font-family: Bitter, 'Zilla Slab', 'Source Serif Pro', Helvetica, sans-serif !important;
    font-size: 1.1em !important;
    line-height: 2 !important;
}